{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ document.title }}</title>

    <script src="http://localhost/web-apps/apps/api/documents/api.js"></script>

    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #editor {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>

    <div id="editor"></div>

    <script>
        console.log(document.getElementById("editor"));
        console.log(typeof DocsAPI);

        var docEditor = new DocsAPI.DocEditor("editor", {

            documentType: "word",

            type: "desktop",

            document: {
                title: "{{ document.title }}",
                url: "http://host.docker.internal:8000{{ document.file.url }}",
                fileType: "docx",
                key: "{{ document.id }}"
            },

            editorConfig: {
                mode: "edit",
                lang: "en",
                callbackUrl: "http://host.docker.internal:8000/callback/{{ document.id }}/"
            }

        });
    </script>

</body>

</html>